@code {
    [Parameter]
    public string DisplayName { get; set; }
    [Parameter]
    public List<KeyValuePair<string,string>> Values { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string SpecialClass { get; set; } = "";
    public string DivId
    {
        get
        {
            return Id + "Div";
        }
    }
    public string ValidationId
    {
        get
        {
            return Id + "Validation";
        }
    }
}
<div class="form-group @SpecialClass row" id="@DivId">
    <label for="@Id" class="control-label col-lg-3">@DisplayName</label>
    <select class="col-lg-9" id="@Id" name="@Id">
        @foreach(var z in Values)
        {
            <option value="@z.Key">@z.Value</option>
        }
    </select>
    <span id="@ValidationId" class="text-danger col-lg-12"></span>
</div>