@using CSIX.Model;
@using CSIX.Services;
@using CSIX.Views.Shared.GenericComponents
@inject IDBService _dbService
@code {
    [Parameter]
    public string UserId { get; set; }
    public List<TaskModel> Model { get; set; }
    public List<KeyValuePair<string, string>> StatusValues { get; set; }
    public List<KeyValuePair<string, string>> ActivitiesValues { get; set; }
    protected override void OnInitialized()
    {
        Model = _dbService.GetAllTasks(UserId);
        StatusValues = new List<KeyValuePair<string, string>>()
        {
            new KeyValuePair<string, string>("0", "New"),
            new KeyValuePair<string, string>("1", "In-Progress"),
            new KeyValuePair<string, string>("2", "Done"),
        };
        ActivitiesValues = _dbService.GetAllActivities().Select(x => new KeyValuePair<string, string>(x.Id, x.Name)).ToList();

    }
}
<div class="col-12">
    <div class="row">

        <h3 class="col-8">My Tasks</h3>
        <div class="col-1 Customlinks card-title ml-auto" style="align-self: center;">
            <span class="Clickable" onclick="OpenMyTasks('','','', 0, '', '@UserId')"><i class="fa fa-plus-circle Black" aria-hidden="true"></i></span>

        </div>
    </div>
</div>





<div id="MyTaskComponent" class="col-12 CardScroller">

    @if (Model != null)
    {
        <table class="table" id="MyTasksTable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Activity
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="MyTasksBody">
                @foreach (var item in Model)
                {
                    <tr class="Item" id="MyTasks_@item.Id">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.StatusName
                        </td>
                        <td>
                            @item.ActivityName
                        </td>
                        <td>
                            <span class="Clickable" onclick="OpenMyTasks('@item.Id', '@item.Name', '@item.Description', @item.Status, '@item.ActivityId', '@UserId')"><i class="fa fa-edit Black" aria-hidden="true"></i></span>
                            <i class="fa fa-close Black Clickable" onclick="Delete('@item.Id', '@item.Name', 'Tasks')" aria-hidden="true"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div id="MyTaskModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="CloseModal('MyTaskModal')">&times;</span>
            </div>
            <div class="modal-body">
                <input type="hidden" id="MyTaskId" name="MyTaskId" value="" />
                <RowComponent DisplayName="Name" Id="MyTaskName" InputType="Text" SpecialClass="col-lg-12" />
                <RowComponent DisplayName="Description" Id="MyTaskDescription" InputType="Text" SpecialClass="col-lg-12" />
                <RowSelectComponent DisplayName="Status" Id="MyTaskStatus" SpecialClass="col-lg-12" Values="@StatusValues" />
                <RowSelectComponent DisplayName="Activity" Id="MyTaskActivity" SpecialClass="col-lg-12" Values="@ActivitiesValues" />
                <input type="hidden" id="MyTaskUser" name="MyTaskUser" value="" />
            </div>

            <div class="modal-footer justify-content-between">
                <button id="CreateAccountBtn" onclick="MyTask_Create()" type="button" class="w-100 btn btn-lg btn-primary">Save</button>
            </div>

        </div>
    </div>

</div>